In [1]:
import os
from IPython.display import display

### If you have not installed unifier you can do so by running the following command:

In [3]:
pip install unifier

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: unifier in c:\users\kiwitech\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (0.1.11)
Requirement already satisfied: requests in c:\users\kiwitech\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from unifier) (2.32.5)
Requirement already satisfied: pandas in c:\users\kiwitech\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from unifier) (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\kiwitech\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas->unifier) (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\kiwitech\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas->unifier) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\kiwitech\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas->unifier) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\kiwitech\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas->unifier) (2025.2)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\kiwitech\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from requests->unifier) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in c:\users\kiwitech\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from requests->unifier) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\kiwitech\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from requests->unifier) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\kiwitech\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from requests->unifier) (2025.10.5)
Requirement already satisfied: six>=1.5 in c:\users\kiwitech\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from python-dateutil>=2.8.2->pandas->unifier) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.3
[notice] To update, run: C:\Users\kiwitech\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

## Simply Import and initialize Unifier and Go!

In [2]:
from unifier import unifier as Unifier

In [3]:
Unifier.user = 'demo'
Unifier.token ='qZy7KpE+L5Fg2MmjFqC/1xmweo7pgnnACCcK3JNEAec='
os.environ['UNIFIER_USER'] = Unifier.user
os.environ['UNIFIER_TOKEN'] = Unifier.token

## Retrieve data for a specific date using the asof_date parameter

In [4]:
df = Unifier.get_dataframe(name="xtech_spiderrock_us_eqt_options_printset", asof_date='2024-01-18', limit=10)
display(df)

,date,asof_datetime,timestamp,ident,okey_at,okey_ts,okey_tk,okey_yr,okey_mn,okey_dy,...,svolm10,sopxm10,sdivm10,serrm10,pnlm10,pnlm10err,multihedge,timestamp_cst,securityid,asof_date
0,2020-02-24,2020-02-24 23:30:00.000,2020-02-24 15:33:35.252,FDX,EQT,NMS,FDX,2020,2,28,...,0.3811,1.8582,0.0000,None,0.0227,None,None,2020-02-24 09:33:35.251744,36672,2020-02-24
1,2020-02-24,2020-02-24 23:30:00.000,2020-02-24 15:33:35.266,FDX,EQT,NMS,FDX,2020,3,13,...,0.4027,0.7933,0.0000,None,0.0601,None,None,2020-02-24 09:33:35.266198,36672,2020-02-24
2,2020-02-24,2020-02-24 23:30:00.000,2020-02-24 15:33:35.591,CRM,EQT,NMS,CRM,2020,3,20,...,0.3682,4.8495,-0.0013,None,-0.0740,None,None,2020-02-24 09:33:35.590907,123898,2020-02-24
3,2020-02-24,2020-02-24 23:30:00.000,2020-02-24 15:33:35.792,AMZN,EQT,NMS,AMZN,2020,2,28,...,0.3276,45.2621,0.0000,None,-0.0343,None,None,2020-02-24 09:33:35.791733,33127,2020-02-24
4,2020-02-24,2020-02-24 23:30:00.000,2020-02-24 15:33:35.886,AMZN,EQT,NMS,AMZN,2020,3,6,...,0.3220,44.0966,-0.0010,None,0.3143,None,None,2020-02-24 09:33:35.886412,33127,2020-02-24
5,2020-02-24,2020-02-24 23:30:00.000,2020-02-24 15:33:35.898,HD,EQT,NMS,HD,2020,3,20,...,0.3076,1.4692,0.0021,None,-0.0169,None,None,2020-02-24 09:33:35.898383,37945,2020-02-24
6,2020-02-24,2020-02-24 23:30:00.000,2020-02-24 15:33:36.603,KSS,EQT,NMS,KSS,2020,2,28,...,0.3972,2.1609,0.0000,None,0.0273,None,None,2020-02-24 09:33:36.603274,38969,2020-02-24
7,2020-02-24,2020-02-24 23:30:00.000,2020-02-24 15:33:37.476,STMP,EQT,NMS,STMP,2020,2,28,...,1.0188,4.1825,0.0000,None,-0.0254,None,None,2020-02-24 09:33:37.475927,42852,2020-02-24
8,2020-02-24,2020-02-24 23:30:00.000,2020-02-24 15:33:37.628,AMZN,EQT,NMS,AMZN,2020,2,28,...,0.3315,28.8535,0.0000,None,-0.5168,None,None,2020-02-24 09:33:37.628300,33127,2020-02-24
9,2020-02-24,2020-02-24 23:30:00.000,2020-02-24 15:33:37.654,ARLO,EQT,NMS,ARLO,2020,3,20,...,1.2849,0.6920,0.0000,None,-0.0123,None,None,2020-02-24 09:33:37.654184,5603118,2020-02-24

## Retrieve data for a specific date range using the back_to and up_to parameters

In [5]:
df = Unifier.get_dataframe(name='xtech_spiderrock_us_eqt_options_printset', back_to='2024-01-01', up_to='2024-02-01', limit=100)
display(df)

,date,asof_datetime,timestamp,ident,okey_at,okey_ts,okey_tk,okey_yr,okey_mn,okey_dy,...,svolm10,sopxm10,sdivm10,serrm10,pnlm10,pnlm10err,multihedge,timestamp_cst,securityid,asof_date
0,2024-01-31,2024-01-31 23:30:00.000,2024-01-31 18:49:05.524,GOOG,EQT,NMS,GOOG,2024,12,20,...,0.250617,3.244760,-0.002662,None,0.000548,None,None,2024-01-31 12:49:05.524300,4579564,2024-01-31
1,2024-01-31,2024-01-31 23:30:00.000,2024-01-31 18:49:05.682,QCOM,EQT,NMS,QCOM,2024,2,16,...,0.382365,2.563190,0.001168,None,-0.026684,None,None,2024-01-31 12:49:05.682235,41729,2024-01-31
2,2024-01-31,2024-01-31 23:30:00.000,2024-01-31 18:49:05.682,QCOM,EQT,NMS,QCOM,2024,2,16,...,0.386718,1.072020,0.001168,None,-0.028939,None,None,2024-01-31 12:49:05.682235,41729,2024-01-31
3,2024-01-31,2024-01-31 23:30:00.000,2024-01-31 18:49:05.863,JOBY,EQT,NMS,JOBY,2026,1,16,...,0.833002,0.686333,-0.012577,None,0.082895,None,None,2024-01-31 12:49:05.863429,6648092,2024-01-31
4,2024-01-31,2024-01-31 23:30:00.000,2024-01-31 18:49:06.663,ETSY,EQT,NMS,ETSY,2024,2,16,...,0.507793,2.344300,0.003582,None,-0.032362,None,None,2024-01-31 12:49:06.663348,4458843,2024-01-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2024-01-31,2024-01-31 23:30:00.000,2024-01-31 18:49:39.055,RIG,EQT,NMS,RIG,2025,1,17,...,0.726622,3.732810,-0.003865,None,0.462733,None,None,2024-01-31 12:49:39.054516,631742,2024-01-31
96,2024-01-31,2024-01-31 23:30:00.000,2024-01-31 18:49:40.108,QCOM,EQT,NMS,QCOM,2024,5,17,...,0.313569,5.757390,-0.003195,None,-0.043328,None,None,2024-01-31 12:49:40.108354,41729,2024-01-31
97,2024-01-31,2024-01-31 23:30:00.000,2024-01-31 18:49:40.515,NEE,EQT,NMS,NEE,2024,2,2,...,0.302802,0.374362,-0.018048,None,-0.001956,None,None,2024-01-31 12:49:40.514754,37093,2024-01-31
98,2024-01-31,2024-01-31 23:30:00.000,2024-01-31 18:49:40.587,PLUG,EQT,NMS,PLUG,2024,3,1,...,1.345080,0.603612,0.111010,None,-0.011243,None,None,2024-01-31 12:49:40.586824,41404,2024-01-31
99,2024-01-31,2024-01-31 23:30:00.000,2024-01-31 18:49:40.922,GOOG,EQT,NMS,GOOG,2024,2,2,...,0.308033,0.603561,-0.021362,None,0.006277,None,None,2024-01-31 12:49:40.921714,4579564,2024-01-31

## Retrieve data for a specific date with a specific ticker (key='ticker') using the asof_date parameter

In [7]:
df = Unifier.get_dataframe(name='xtech_spiderrock_us_eqt_options_printset',key='AAPL', asof_date='2024-01-01', limit=100)
display(df)

,date,asof_datetime,timestamp,ident,okey_at,okey_ts,okey_tk,okey_yr,okey_mn,okey_dy,...,svolm10,sopxm10,sdivm10,serrm10,pnlm10,pnlm10err,multihedge,timestamp_cst,securityid,asof_date
0,2020-03-06,2020-03-06 23:30:00.000,2020-03-06 19:02:39.081,AAPL,EQT,NMS,AAPL,2020,4,17,...,0.3965,2.9078,0.0006,None,0.0940,None,None,2020-03-06 13:02:39.081451,33449,2020-03-06
1,2020-03-06,2020-03-06 23:30:00.000,2020-03-06 19:02:39.741,AAPL,EQT,NMS,AAPL,2020,3,20,...,0.4887,20.5852,0.0011,None,-0.0537,None,None,2020-03-06 13:02:39.741072,33449,2020-03-06
2,2020-03-06,2020-03-06 23:30:00.000,2020-03-06 19:02:42.551,AAPL,EQT,NMS,AAPL,2020,3,6,...,0.6436,1.0877,0.0000,None,-0.0638,None,None,2020-03-06 13:02:42.551244,33449,2020-03-06
3,2020-03-06,2020-03-06 23:30:00.000,2020-03-06 19:02:45.545,AAPL,EQT,NMS,AAPL,2020,3,6,...,0.5470,5.4464,0.0000,None,-0.0140,None,None,2020-03-06 13:02:45.544761,33449,2020-03-06
4,2020-03-06,2020-03-06 23:30:00.000,2020-03-06 19:02:47.329,AAPL,EQT,NMS,AAPL,2020,3,20,...,0.5412,15.1419,0.0004,None,0.0041,None,None,2020-03-06 13:02:47.328637,33449,2020-03-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2020-03-06,2020-03-06 23:30:00.000,2020-03-06 18:56:19.770,AAPL,EQT,NMS,AAPL,2020,3,6,...,0.6856,0.5357,0.0000,None,-0.0857,None,None,2020-03-06 12:56:19.769512,33449,2020-03-06
96,2020-03-06,2020-03-06 23:30:00.000,2020-03-06 18:56:20.186,AAPL,EQT,NMS,AAPL,2020,3,6,...,0.5388,0.8334,0.0000,None,-0.0326,None,None,2020-03-06 12:56:20.186163,33449,2020-03-06
97,2020-03-06,2020-03-06 23:30:00.000,2020-03-06 18:56:21.215,AAPL,EQT,NMS,AAPL,2020,3,13,...,0.5597,11.7560,0.0000,None,-0.0087,None,None,2020-03-06 12:56:21.215219,33449,2020-03-06
98,2020-03-06,2020-03-06 23:30:00.000,2020-03-06 18:56:21.855,AAPL,EQT,NMS,AAPL,2020,3,6,...,0.5256,0.2885,0.0000,None,-0.0213,None,None,2020-03-06 12:56:21.855101,33449,2020-03-06
99,2020-03-06,2020-03-06 23:30:00.000,2020-03-06 18:56:23.089,AAPL,EQT,NMS,AAPL,2020,3,13,...,0.5071,3.6588,0.0000,None,-0.0647,None,None,2020-03-06 12:56:23.089247,33449,2020-03-06

## Retrieve data for a specific date range with a specific ticker (key='ticker') using the back_to and up_to parameters

In [8]:
df = Unifier.get_dataframe(name='xtech_spiderrock_us_eqt_options_printset',key='AAPL', back_to='2024-01-01', up_to='2024-02-01', limit=100)
display(df)

Empty DataFrame
Columns: []
Index: []